* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.buttons,
.counter {
    display: flex;
    width: auto;
    height: auto;
    background-color: rgb(82, 82, 82);
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    margin: -8px;
}

.instructions {
    display: flex;
    width: auto;
    height: auto;
    background-color: rgb(82, 82, 82);
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin: -8px;
}
#instructionBox {
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
}

button {
    padding: 12px;
    width: 200px;
    height: 100px;
    background-color: rgb(38, 38, 38);
    color: rgb(222, 222, 222);
    font-size: 22px;
    text-align: center;
    border-radius: 12px;
    border: 4px solid azure;
}

.counter > div {
    text-align: center;
    font-size: 40px;
    padding: 12px;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}